//////////////////////////////////////////

//アニメーション

//include by style.scss

//////////////////////////////////////////


@keyframes vibration{
    0% {
        transform: translate(0px, 0px) rotateZ(0deg)
    }

    25% {
        transform: translate(2px, 2px) rotateZ(1deg)
    }

    50% {
        transform: translate(0px, 2px) rotateZ(0deg)
    }

    75% {
        transform: translate(2px, 0px) rotateZ(-1deg)
    }

    100% {
        transform: translate(0px, 0px) rotateZ(0deg)
    }
}


@keyframes maskmove{
    0%{
        // width: 0;
        transform: scaleX(0);
        left: 0;
    }
    50%{
        // width: 100%;
        transform: scaleX( 1 );
    }

    100%{
        // width: 0;
        transform: scaleX(0);

        left: 101%;
    }
}

@keyframes bgMove{
    0%{
        background-position: 0 center;
    }
    100%{
        background-position: 100% center;
    }
}