@charset "UTF-8";
//////////////////////////////////////////

//color setting

//include by style.scss

//////////////////////////////////////////

/////////color setting

$navy :#1a2e45;
$red: #910000;
$gray_lighten: #b1b1b1;

////base settings



////////// project setting
$basefontColor:#231717;
$link: #222222;
$paleblue: #d9eff4;
$blue: #0497fc;
$pink: #f78bba;
$orange: #f98b06;


// $maincolor: 
// $color_main: 
$color_border: #e4e4e4 ;
$color_button: $pink;
$color_button_secondary: $blue;
$color_text_accent: $orange;
// $color_text_index: $brown_darken;
// $color_text_index_s: $brown_ash;
// $color_attention: 
$color_link: $blue;
// $color_border: 
// $color_notactive: 

