@charset "UTF-8";
//////////////////////////////////////////

//color setting

//include by style.scss

//////////////////////////////////////////

/////////color setting

$navy :#1a2e45;
$red: #910000;
$gray_lighten: #b1b1b1;

////base settings



////////// project setting
$basefontColor:#1a1a1a;
$link: #222222;


// $maincolor: 
// $color_main: 
$color_border: #e4e4e4 ;
// $color_button: $orange;
// $color_button_secondary: $brown_ash;
// $color_text_index: $brown_darken;
// $color_text_index_s: $brown_ash;
// $color_attention: 
// $color_link: 
// $color_border: 
// $color_notactive: 

