//////////////////////////////////////////

//components

//include by style.scss

//////////////////////////////////////////


////////////////////

// button element

////////////////////

.button{
    width: 300px;
    height: 70px;
    line-height: 1;
    a{
        width: 100%;
        height: 100%;
        line-height: 1.5;
        padding: 20px;
        display: flex;
        justify-content: center; 
        align-items: center;
        box-sizing: border-box;
        position: relative;
        color: #ffffff;
        text-align: center;
        transition: transition();
        text-decoration: none;
        border-radius: 10000px;
        background: linear-gradient( to right, $pink, #f77cba);
        box-shadow: 10px 10px 20px rgba( darken($pink, 20 ), 0.1 );


        @include iconfont(
            $content: '\e900',
            $dir:right  
        );
        &:after{
            width: 1em;
            height: 1em;
            margin-top: auto;
            margin-bottom: auto;
            position: absolute;
            right: 15px;
            top: 0;
            bottom: 0;
        }      

      @include mouseOver(){
          @include mq( tab,min ){
              transform-origin: center center;
              transform: scale(0.985);
              filter: brightness(95%);
              box-shadow: 0;
          }
      }
    }

    &--secondary,
    &--blue{
        a{
            background: linear-gradient( to right, $blue, #0477fc);
            box-shadow: 10px 10px 20px rgba( darken($blue, 20 ), 0.1 );
        }
    }
}


.buttons{
    display: flex;

    .button{
        list-style: none;

        &:not( :last-child ){
            margin-right: $space_s;
        }
    }

	@include buttonEffectAsset();
}



////////////////////

// mask efffect

////////////////////

%maskeElement{
    &:before {
        content: " ";
        left: auto;
        right: 0;
        animation: maskmove 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.15s 1 normal;
    }

    &__element {
        overflow: hidden;
        white-space: normal;
        display: inherit;
        transform: translateX(0%);
    }
}

// .js-effect {
    .mask{
        display: inline-block;
        overflow: hidden;
        position: relative;
        &:before{
            content: " ";
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            z-index: 2;
            left: 0;
            transform: scaleX( 0 );
            transform-origin: left center;
            // transition: transition();
            transition-delay: 0.15s;
            background-color: $basefontColor;
            will-change:transform;
        }
        &__element{
            white-space: nowrap;
            display: inline-block;
            transform: translateX( -100% );
            transition: transition(all, 0.5s);
            transition-delay: 0.2s;
            will-change: transform;            
        }
    }  
// }

// .-on,
.current{
    .mask{
        &:before{
            content: " ";
            left: auto;
            right: 0;
            animation: maskmove 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.15s 1 normal;
        }
        &__element{
            white-space: normal;
            display: inherit;
            transform: translateX( 0% );
        }            
    }
}
.-on{
    @include mq( tab ){
        .mask {
            &:before {
                content: " ";
                left: auto;
                right: 0;
                animation: maskmove 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.15s 1 normal;
            }

            &__element {
                white-space: normal;
                display: inherit;
                transform: translateX(0%);
            }
        }
    } 
}



.fade{
    &__element{
        display: inline-block;
        opacity: 0;
        transform: translateY( -2rem );
        transition: easeInOut(all, 0.5s);
        transition-delay: 0.2s;
        will-change: transform;           
    }                    
}   

.current{
    .fade{
        &__element{
            opacity: 1;
            transform: translateY( 0% );
        }                    
    }
}
.-on{
    @include mq( tab ){
        .fade {
            &__element {
                display: inherit;
                opacity: 1;
                transform: translateY(0%);
            }
        }
    } 
}  




/////////////////

// section manifest

/////////////////
.section--manifest{
    background-color:#fff;
    background-image:  url(../img/common-bg-city.svg), linear-gradient(
        -45deg,
        #fff 25%, #fdfdfd 25%,
        #fdfdfd 50%, #fff 50%,
        #fff 75%, #fdfdfd 75%,
        #fdfdfd
    );
    background-size: 100% auto, 10px 10px;
    background-repeat: no-repeat, repeat;    
    background-position: center bottom, top left;


    .manifestIndex{
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;


		@include buttonEffectAsset();


        /////制作用ボタン
        .button--manifest{
            counter-increment: counter;
            position: relative;

            @for $i from 0 through 6{
                &:nth-child( #{$i} ){
                    &:before{
                        transition-delay: #{(0.15*$i)}s;
                    }
                }
            }


            &:before{
                content: counter( counter );
                line-height: 1;
                position: absolute;
                z-index: 1;
                left: 0;
                top: -0.5em;
                text-shadow: 2px 2px 10px rgba( $paleblue, 0.2 );
                color: $paleblue;
                font-family: 'kaiso';
            }

            a{
                flex-direction: column;
            }

            /////見出し
            &__index{
                line-height: 1;
                margin-bottom: 10px;
                font-weight: bold;


                &:before,
                &:after{
                    content: " ";
                    width: 0;
                    height: 0;
                    display: inline-block;
                    transform-origin: center bottom;
                    border-style: solid;
                    border-width: 20px 2.5px 0 2.5px;
                    border-color: #fff transparent transparent transparent;                    
                }
                &:before{
                    margin-right: 5px;
                    transform: rotate(-5deg );
                }
                &:after{
                    margin-left: 5px;
                    transform: rotate( 5deg );
                }
            }
        }

        &__top{
            margin-bottom: $space_s;

            .button--manifest{
                width: calc( 50% - 15px );
                height: 120px;           

                &:before{
                    font-size: 5em;
                }

                &__index{
                    font-size: $fontsize_m;                    
                }
            }
        }
         &__bottom{
            counter-reset: counter 2;
            .button--manifest{
                width: calc( 33% - 10px );
                height: 120px;
            
                &:before{
                    font-size: 3em;
                }

                &__content{
                    font-size: $fontsize_s;
                }
            }
        }        
    }

    // &__outerwrap{
    //     background:url(../img/common-bg-city.svg) center center no-repeat;
    //     background-size: cover;
    // }
}