//////////////////////////////////////////

//components

//include by style.scss

//////////////////////////////////////////


////////////////////

// button element

////////////////////

.button{
    width: 300px;
    height: 70px;
    line-height: 1;
    a{
      width: 100%;
      height: 100%;
      padding: 20px;
        display: flex;
        justify-content: center; 
        align-items: center;
        box-sizing: border-box;
      position: relative;
      color: #ffffff;
      background-image: linear-gradiend( to right, $pink, darken($pink, 15%));

      @include mouseOver(){
          &:before{
              width: 100%;
              left: 0;
              right: auto;
          }
          &:after{
              width: 0;
            left: auto;
            right: -15px;

          }
      }

      &:before{
          @include iconfont(
              $content: '\e900'
          );
      }
    }
}



////////////////////

// mask efffect

////////////////////

%maskeElement{
    &:before {
        content: " ";
        left: auto;
        right: 0;
        animation: maskmove 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.15s 1 normal;
    }

    &__element {
        overflow: hidden;
        white-space: normal;
        display: inherit;
        transform: translateX(0%);
    }
}

// .js-effect {
    .mask{
        display: inline-block;
        overflow: hidden;
        position: relative;
        &:before{
            content: " ";
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            z-index: 2;
            left: 0;
            transform: scaleX( 0 );
            transform-origin: left center;
            // transition: transition();
            transition-delay: 0.15s;
            background-color: $basefontColor;
            will-change:transform;
        }
        &__element{
            white-space: nowrap;
            display: inline-block;
            transform: translateX( -100% );
            transition: transition(all, 0.5s);
            transition-delay: 0.2s;
            will-change: transform;            
        }
    }  
// }

// .-on,
.current{
    .mask{
        &:before{
            content: " ";
            left: auto;
            right: 0;
            animation: maskmove 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.15s 1 normal;
        }
        &__element{
            white-space: normal;
            display: inherit;
            transform: translateX( 0% );
        }            
    }
}
.-on{
    @include mq( tab ){
        .mask {
            &:before {
                content: " ";
                left: auto;
                right: 0;
                animation: maskmove 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.15s 1 normal;
            }

            &__element {
                white-space: normal;
                display: inherit;
                transform: translateX(0%);
            }
        }
    } 
}



.fade{
    &__element{
        display: inline-block;
        opacity: 0;
        transform: translateY( -2rem );
        transition: easeInOut(all, 0.5s);
        transition-delay: 0.2s;
        will-change: transform;           
    }                    
}   

.current{
    .fade{
        &__element{
            opacity: 1;
            transform: translateY( 0% );
        }                    
    }
}
.-on{
    @include mq( tab ){
        .fade {
            &__element {
                display: inherit;
                opacity: 1;
                transform: translateY(0%);
            }
        }
    } 
}  
