//////////////////////////////////////////

//module

//include by style.scss

//////////////////////////////////////////


body{
	position: relative;
}



////////////////////

// header

////////////////////

/////// ヘッダー ラッパー
.siteHeader
{
	position: fixed;
	z-index: 9;
	top: 0;
	right: 0;
	left: 0;
	transition: transition(all,0.5s);
	transition-delay: 1s;
	transition: transition();

	// transform: translateY( -100% );

	@at-root .-is-scrolled .siteHeader{
		background-color: #ffffff;
	}
	
	 > .wrap{
		 height: 100px;
		 display: flex;
		 flex-direction: row;
		 justify-content: space-between;
		 align-items: center;

		@include mq( 1920, min ){
			max-width: percentage( 1200 / 1400 );
		}		 
		

		@include mq( sp ){
			height: 60px;
		} 	
	 }

	&__logo{
		line-height: 1;
		margin-right: auto;

		@include mq( tab ){
			position: relative;
			z-index: 9;
			img{
				max-width: 120px;
			}
		}	
		@include mq( sp ){
			img{
				max-width: 90px;
			}
		}					
	}


	.siteNav{
		font-weight: bold;

		@include mq( tab, min ){
			a{
				color: #ffffff;
				text-decoration: none;
			}
			@at-root .-is-scrolled .siteHeader .siteNav{
				li:after{
					background-color: $color_link;
				}
				a{
					color: $color_link;
				}		
			}
		}
	}
	
}




////////////////////

// footer

////////////////////



.siteFooter{
	width: 100%;
	background-color: #ffffff;


	@include mq( tab ){
	}

	////////メッセージ
	&__message{


		&:after{
			content: " ";
			width: 100%;
			height: 100px;
			display: block;
			@include stripe();

		}

		&__index{
			margin-bottom: -50px;
			padding-top: 50px;
			padding-bottom: 100px;
			text-align: center;
			@include stripe();			// background-repeat: repeat;
		}

		&__content{
			padding-bottom: $space_m;
		}


		.message{
			max-width: 800px;
			padding: $space_s;
			margin-right: auto;
			margin-left: auto;
			box-sizing: border-box;
			border: 4px solid $color_border;
			background-color: #ffffff;

			&__index{
				line-height: 1;
				margin-bottom: $space_s;
				text-align: center;

				&__name{
					margin-bottom: 20px;
					font-size: $fontsize_m;
					font-weight: bold;

					strong{
						color: $color_text_accent;
					}

					small{
					}
				}
				&__description{
					font-size: $fontsize_s;
				}
			}


			&__content{
				display: flex;

				&__text{
					margin-right: $space_s;
				}
				&__img{
					flex-shrink: 0;
				}
			}
		}
	}


	&__recruitment{
		padding-bottom: 80px;
		color: #ffffff;
		background: #1e5799;
		background: -moz-radial-gradient(center, ellipse cover, #b0ebff 0%, #0497fc 100%, #207cca 100%);
		background: -webkit-radial-gradient(center, ellipse cover, #b0ebff 0%,#0497fc 100%,#207cca 100%);
		background: radial-gradient(ellipse at center, #b0ebff 0%,#0497fc 100%,#207cca 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0ebff', endColorstr='#207cca',GradientType=1 );

		.wrap{
			max-width: 830px;
		}


		.recruitment{

			&__mv{
				line-height: 1;
				margin-bottom: -1*$space_m;
				position: relative;
				top: -50px;
				z-index: 1;

				&__index{
					margin-top: -70px;
					position: relative;
					z-index: 1;
				}
			}


			&__content{
				margin-bottom: $space_m;
			}

			&__content__footer{
				@include buttonEffectAsset();
			}

			&__message{
				font-size: $fontsize_m;
				font-weight: bold;

				&--sub{
					margin-bottom: $space_s;
				}
			}


			&__footer{
				padding: 30px;
				border: 1px solid #fff;

				&__index{
					font-weight: bold;
				}


				&__content{
					margin-bottom: $space_s;
				}
			}

		}

		


	}


	////////// プロフ等
	&__relatedlinks{
		padding-top: $space_m;
		padding-bottom: $space_m;

		.related{
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			&__section{
				width: calc( 50% - 25px );
				text-align: left;
			}
			&__section__index{
				line-height: 1;
				margin-bottom: 30px;
				font-size: $fontsize_m;
				font-weight: bold;

				span{
					font-size: 1.5em;
					color: $color_text_accent;
				}
			}
		}


		.profile{	
			margin-bottom: $space_m;

			&__content {
				margin-bottom: $space_s;
			}

			&__footer{
				li{
					list-style: none;
				}
			}

		}


		.office{
			padding: 30px;
			border: 1px solid $color_border;

			&__index{
				line-height: 1;
				margin-bottom: 1em;
				font-weight: bold;
			}

			&__content{
				font-size: $fontsize_s;
			}

			&__row{
				display: flex;
				margin-bottom: 5px;
			}

			&__col{
				display: flex;

				&:not( :last-child ):after{
					content:"|";
					margin-left: 1em;
					margin-right: 1em;
					display: inline-block;
					color: $color_border;
				}


				&__header{
					margin-right: 1em;
				}
			}
		}



		//////// sns
		.sns__content{
			height: 470px;
			border: 1px solid $color_border;
			border-radius: 3px;
			overflow-y: scroll;

				&::-webkit-scrollbar{
				width: 10px;
				}
				&::-webkit-scrollbar-track{
				background: $color_border;
				border: none;
				}
				&::-webkit-scrollbar-thumb{
				background: $blue;
				border-radius: 1000px;
				}			
		}
	}





	&__footer{
		line-height: 1;
		padding-top: 30px;
		padding-bottom: 30px;
		background-color: $blue;
		background: $blue url( ../img/common-footer-bg.svg ) center bottom no-repeat;
		background-size: cover;

		a{
			color: #fff;

		}

		.wrap{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
	}
}



.siteNav{

	@include mq( tab ){
	}	


	ul{
		display: flex;
		align-items: center;
		flex-direction: row;
		list-style: none;
		@include mq( tab ){
		}	
	}

	li{

		&:not( :last-child ){
			&:after{
				content:" ";
				width: 5px;
				height: 5px;
				line-height: 1;
				display: inline-block;
				margin-right: 20px;
				margin-left: 20px;
				vertical-align: middle;
				border-radius: 100%;
				background-color: #ffffff;
			}
		}

		@include mq( tab ){
			width: auto;
			flex-shrink: 0;
			&:after{
				content:" ";
				width: 80px;
				height: 1px;
				margin-right: 0.5em;
				margin-left: 0.5em;
				display: inline-block;
				vertical-align: middle;
				background-color: $color_border;
				mix-blend-mode: color-burn
			}
		}	


	a{
		position: relative;
		overflow-x: hidden;


		@include mq( tab,min  ){
			&:after{
				content: " ";
				width: 0%;
				height: 3px;
				position: absolute;
				right: 0;
				bottom: -5px;
				transition: transition();
				background-color: currentColor;
			}

			@include mouseOver(){
				&:after{
					width: 100%;
					left: 0;
					right: auto;
				}
			}
		}			


		&.current{
			font-weight: bold;

			&:after{
				width: 0px;
			}
		}
	}

	&.-is-scrollify-notactive{
		.siteNav__defaultLink{
			display: none;
		}
	}
}
}