//////////////////////////////////////////

//default setting
//
//include by style.scss

//////////////////////////////////////////



////////////////////

// base element

////////////////////

::selection{background-color: rgba(saturate(#ccc , 13) , 0.3);}
html{
	width: 100%;
	overflow-x: hidden;
	font-size: 10px;
	// font-size: $basefontSize;
	font-weight: 300;
	line-height: $baselineHeight;
	position: relative;
	font-family: $fontFamily;
	-webkit-font-smoothing: antialiased;
	 -webkit-text-size-adjust: 100%;
	color: $basefontColor;

	@include mq( tab ){
		line-height: ( 44 / 26);
	}	
}

body{
	width: 100%;
	overflow-x: hidden;
	// padding-top: 100px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	font-size: 1.4em;
	letter-spacing: 0.1em;

	@include mq( 1921,min ){
		font-size: #{ (14 / 1366) * 100 }vw;
	}

	@include mq( tab ){
		// padding-top: 60px;
		font-size: 1.3rem;
	}
}

h1 , h2 , h3 , h4 , h5 , h6{
	margin-top: 0;
	margin-bottom: 0;
	font-weight: inherit;
	font-size: inherit;
}


ul{
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style-position: inside;
}


dl{
	padding-left: 0;
}
dd{
	padding-left: 0;
}


figure{
	margin: 0;
}


img , iframe , object{
	max-width: 100%;
	line-height: 1;
	height: auto;
}

input , textarea, select{

	outline: none;

	&:focus , &:active{
		border: none;
	}
	
}

main{
	display: block;
}



////////////////////

// link element

////////////////////

a 
{
	text-decoration: none;
	color: $link;
	outline: none;
	transition: transition();
	
	&,
	img{
		border: none;
	}

	button{
		padding: 0;
		background: 0;
		border: none;
	}
	
	@include mouseOver(){
		color: darken($link , 15);
	}	
	img{
		@include mouseOver(){

		}			
	}
}

button{
	cursor: pointer;
	outline: none;
}

