////////////////////////////////////////


// profile


////////////////////////////////////////
.myprofile{


///////////////////////

// module

///////////////////////

.subpageMv{
    &__index__title{
        letter-spacing: 0;
    }
}

///////////////////////

// style

///////////////////////

////////プロフィール
.section--profile{
    padding-top: 100px;
    padding-bottom: 100px;

    @include mq( tab ){
        padding-top: $space_xl_sp;
        padding-bottom: $space_xl_sp;
    }

    .profile{
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
        &__top{
            position: relative;
        }

        &__name{
            width: 413px;
            height: 0;
            padding-top: 266px;
            position: absolute;
            bottom: -170px;
            right: 0;
            overflow: hidden;
            background:url(../img/profile-profile-name.svg) center center no-repeat;
            background-size: 100% auto;

            @include mq(tab) {
                width: 300px;
                bottom: -150px;
            }

            @include mq( sp ){
                width: 150px;
                bottom: -110px;
            }

            &.js-effect {
                transition: easeOutBack(all, 1s);
                transform: translateY(20px);
                opacity: 0;
            }
            &.js-effect.-on {
                transform: translateY(0px);
                opacity: 1;
            }
        }

        &__content{
            margin-top: $space_s;

        }

        &__content__text{
            margin-bottom: $space_s;

            p:last-child{
                margin-bottom: 0;
            }
        }


        &__content__table{
            &__row{
                display: flex;
                padding-top: 1em;
                margin-top: 0;
                margin-bottom: 0;
                padding-bottom: 1em;
                border-top: 1px solid $color_border;

                @include mq( sp ) {
                    flex-direction: column;
                }


                &:last-child{
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
            }

            &__th{
                color: $color_text_accent;

                &:after{
                    content: ":";
                    display: inline-block;
                    margin-left: 0.5em;
                    margin-right: 0.5em;
                }
            }
            &__td{
                margin-left: 0;
                padding-left: 0;
            }
        }
    }
}


///////// 年表
.section--history{
    background-image: 
    url(../img/profile-history-bg-1974.svg),
    url(../img/profile-history-bg-19xx.svg),
    url(../img/profile-history-bg-4004.svg),
    url(../img/profile-history-bg-1992.svg),
    url(../img/profile-history-bg-2018.svg),
    linear-gradient(to bottom, #52B8FF, $blue);
    background-repeat: 
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat;
    background-position: 
    73% 1%,
    -1% 20%,
    90% 45%,
    0% 63%,
    right 85%,
    left top;
    background-size: 
    percentage( 400/1400 ) auto,
    percentage( 588/1400 ) auto,
    percentage( 600/1400 ) auto,
    percentage( 690/1400 ) auto,
    percentage( 477/1400 ) auto,
    100% 100%;

    .historyTl{
        max-width: 660px;
        margin-right: auto;
        margin-left: auto;
        padding-top: 200px;
        padding-bottom: 100px;
        position: relative;

        @include mq( tab ) {
            padding-top: $space_xl_sp;
            padding-bottom: $space_xl_sp;
        }

        &:before{
            content:" ";            
            width: 0;
            height: 0;
            position: absolute;
            left: -40px;
            top: 0px;
            border-style: solid;
            border-width: 40px 40px 0 40px;
            border-color: #fff transparent transparent transparent;

            @include mq(sp) {
                left: -10px;
                border-width: 20px 20px 0 20px
            }

        }



        &:after{
            content: " ";
            width: 6px;
            height: 100%;
            background-color: #ffffff;
            position: absolute;
            top: 0px;
            left: -3px;

            @include mq( sp ){
                width: 5px;
                left: 7.5px;
            }            
        }

        &__event{
            display: flex;
            align-items: flex-start;
            list-style: none;
            position: relative;
            z-index: 1;
            left: -38px;

            @include mq(sp) {
                left: -12px;
            }


            &:not( :last-child ){
                margin-bottom: $space_l;

                @include mq(sp) {
                    margin-bottom: $space_m_sp;
                }

            }

            &.js-effect {

                .historyTl__event__icon,
                .historyTl__event__icon img,
                .historyTl__event__content{
                    transition: easeOutBack(all, 0.75s);
                    transform: translateY(30px);
                    opacity: 0;
                }
                .historyTl__event__icon {
                    transform: scale(0);
                }
                .historyTl__event__icon img{
                    transition-delay: 0.15s;
                }
                .historyTl__event__content{
                    transition-delay: 0.3s;
                }
            }

            &.js-effect.-on {
                .historyTl__event__icon,
                .historyTl__event__icon img,
                .historyTl__event__content {
                    transform: translateY(0px);
                    opacity: 1;
                }
                .historyTl__event__icon {
                    transform: scale(1);
                }
            }


            ///// icon
            &__icon{
                width: 70px;
                height: 70px;
                margin-right: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                border-radius: 10000px;
                border: 3px solid #fff;
                background-color: $orange;

                @include mq(sp) {
                    width: 40px;
                    height: 40px;
                    top: 10px;
                }
        

                &.-blank{
                    width: 20px;
                    height: 20px;
                    top: 20px;
                    margin-left: 25px;

                    @include mq(sp) {
                        top: 15px;
                        margin-left: 9px;
                    }
                }


                img{
                    @include mq(sp) {
                       max-width: 30px;
                    }
                }
            }


            ///// text
            &__content{

            }

            &__index{
                width: 250px;
                padding: 10px 20px;
                position: relative;
                background-color: #fff;
                box-shadow: 5px 5px 30px rgba( $blue, 0.2 );
                border-radius: 10px;

                @include mq( sp ){
                    width: 150px;
                }

                &:after {
                    content: " ";
                    width: 0;
                    height: 0;
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: -7px;
                    margin-top: auto;
                    margin-bottom: auto;
                    border-style: solid;
                    border-width: 5px 7px 5px 0;
                    border-color: transparent #fff transparent transparent;
                }
            }
            &__date{
                line-height: 1;
                margin-top: 0;
                margin-bottom: 0px;
                font-size: $fontsize_s;
                color: $color_text_accent;
            }

            &__title{
                font-weight: bold;
                font-size: $fontsize_m;
            }
            &__detail{
                margin-top: 30px;
                color: #ffffff;

                @include mq(sp) {
                    margin-top: 20px;
                }

            }
        }
    }
}



///////// 最近の活動

.section--activity{
    padding-top: $space_xl;
    padding-bottom: $space_xl;

    @include mq( tab ) {
        padding-top: $space_xl_sp;
        padding-bottom: $space_xl_sp;
    }


    background-color:#fff;
    background-image: url(../img/common-bg-city.svg),
    linear-gradient(-45deg,
    #fff 25%, #fdfdfd 25%,
    #fdfdfd 50%, #fff 50%,
    #fff 75%, #fdfdfd 75%,
    #fdfdfd);
    background-size: 100% auto,
    10px 10px;
    background-repeat: no-repeat,
    repeat;
    background-position: center bottom,
    top left;


    .section__index{
        text-align: center;
        font-weight: bold;
        font-size: $fontsize_xl;
        margin-bottom: $space_l;

        @include mq( tab ){
            margin-bottom: $space_l_sp;
        }        
    }

    .activities{
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
        display: flex;

        @include mq(sp) {
            flex-direction: column;
        }

    }
    .activity{
        width: calc(33.3% - 26.6px);
        margin-right: $space_s;
        list-style: none;

        @include mq(sp) {
            width: 100%;
            display: flex;
            margin-right: 0;

            &:not(:last-child ){
                margin-bottom: $space_s_sp;
            }
        }

        &__img{
            @include mq( sp ) {
                max-width: 30%;
                flex-shrink: 0;
            }
        }

        &__content{
            @include mq(sp) {
                margin-left: 20px;
            }
        }

        &__index{
            margin-top: 30px;
            font-size: $fontsize_m;
            font-weight: bold;
            line-height: 1.45;

            @include mq(sp) {
               margin-top: 0;
            }
        }

        &--asahi {
            .activity__index,
            .activity__description {
                @include mq( tab,min ){
                    text-align: right;
                }
            }
        }
    }
    .js-effect .activity {
        transition: easeOutBack(all, 1s);
        transform: translateY(20px);
        opacity: 0;

        @for $i from 0 through 3 {
            &:nth-child(#{ $i}) {
                transition-delay: #{(0.15*$i)}s;
            }
        }
    }

    .js-effect.-on .activity {
        transform: translateY(0px);
        opacity: 1;
    }


    &__footer{
        margin-top: $space_s;

        @include buttonEffectAsset();
        .button{
            margin-right: auto;
            margin-left: auto;
        }
    }
}
}


