
////////////////////////////////////////


// top


////////////////////////////////////////
.top{

    background-color: $blue;


///////////////////////

// module

///////////////////////

.section{
    padding-top: $space_xl;
    padding-bottom: $space_xl;

    @include mq( tab ){
        padding-top: $space_xl_sp;
        padding-bottom: $space_xl_sp;
    }


    &__index{
        margin-bottom: $space_m;
        text-align: center;

        @include mq( tab ){
            margin-bottom: $space_m_sp;
        }        

        &__text{
            height: 0;
            padding-top: 1em;
            line-height: 1;
            // font-family: 'kaiso';
            overflow: hidden;
            font-feature-settings: "palt";
            letter-spacing: -0.15em;   
            font-size: 3em;     
            background-size: auto 100%;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &__content{
        p:first-child{
            margin-top: 0;
        }
        p:last-child{
            margin-bottom: 0;
        }
    }
}


#Smallchat iframe{
    opacity: 0;
    transform: translateY( 20px );
    pointer-events: none;
}

&.-is-chatShow #Smallchat iframe{
    opacity: 1;
    transform: translateY( 0px );
    pointer-events: all;
}



///////////////////////

// style

///////////////////////


    &,.mv{
        // padding-top: 56%;
        padding-top: 97vh;

        @include mq( tab ){
            padding-top: 70vh;
        }        
        @include mq( sp ){
            padding-top: 80vh;
        }        
        
    }


    /////////////////
    
    // mv

    /////////////////
    .mv{
        width: 100%;
        height: 0;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        text-align: center;
        background: $blue;
		background: radial-gradient(ellipse at center, #b0ebff 0%,#0497fc 100%,#0497fc 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0ebff', endColorstr='#0497fc',GradientType=1 );


        .wrap{
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 1;

            @include mq( tab ){
                // position: relative;
            }             

            @include mq( 1920, min ){
                max-width: percentage( 1200 / 1400 );
            }
        }

        &__img{
            width: 100%;
            text-align: center;
            line-height: 0;
            // position: absolute;
            right: 0;
            bottom: 0;
            left: 0;

            img{
                @include mq( tab,min ){
                    width: auto;
                    // width: #{( 460 / 1400 * 100 )}vw;
                    height: 90.625vh;
                    // min-width: 460px;
                }
            }
        }


        &__copy{
            line-height: 1.328888;
            font-size: 7rem;
            font-weight: bold;
            color: #ffffff;
            text-align: left;
            font-feature-settings: "palt";
            position: absolute;
            z-index: 2;
            left: 0;
            bottom: $space_s;
            text-shadow: 5px 5px 20px rgba( darken( $blue, 10% ), 0.25 );

            @include mq( 1920, min ){
                font-size: #{( 7/1400 * 1000)}vw;
            }            

            @include mq( tab ){
                bottom: 20px;
            }   

            @include mq( sp ){
                 text-shadow: 5px 5px 20px rgba( darken( $blue, 10% ), 0.5 );
                font-size: 11vw;
                bottom: 130px;
            }   


            &__attention{
                color: $pink;

                @include mq( sp ){
                   display: block;
                }   

            }    
        }

        &__anchorlinks{
            display: flex;
            position: absolute;
            right: 0;
            bottom: $space_s;
            
            @include mq(tab) {
                bottom: 20px;
                right: -2.5%;
                flex-direction: column;
            }
            @include mq(sp) {
                right: auto;
                left: -2.5%;
                flex-direction: row;
            }


            .mv__anchorlink{
                width: 170px;
                height: 170px;
                list-style: none;
                margin-right: 5px;
                margin-left: 5px;

                @include mq( tab ){
                    width: 100px;
                    height: 100px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                }   
                @include mq( sp ){
                    width: 90px;
                    height: 90px;
                }                   


                a{
                   border-radius: 10000px;

                  @include mq(sp) {
                    padding: 5px;

                    img{
                      width: 65px;
                    }
                  }

                    &:after{
                        font-size: 0.9em;
                        line-height: 1;
                        margin-right: auto;
                        margin-left: auto;
                        position: absolute;
                        right: 0;
                        top: 90%;
                        left: 0;
                        transform-origin: center center;
                        transform: rotate( 90deg );
                        color: #ffffff;
                    }
                }
            }
        }

        &__bg{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            opacity: 0.15;
            background: url(../img/top-mv-bg.svg) center center repeat;
            // background-size: 100% auto;
            animation: bgMove 10000s linear 0s infinite normal both;
            background-size: auto 100%;

            @include mq( tab ){
                animation-duration: 20000s;    
            }
        }
    }

    //////// transition effect
    .mv{
        &__anchorlink,
        &__copy,
        &__img{
            opacity: 0;
            transform: translateY( 20px );
        }
        &__anchorlink{
            transition: easeOutBack( all, 0.75s );

            @for $i from 0 through 2 {
                &:nth-child( #{$i} ){
                    transition-delay: #{(1 + 0.25 * $i )}s;
                }
            }
        }
        &__copy,
        &__img{
            transition: transition(all, 0.5s);
        }
        &__img{
            transition-delay: 0s;
        }
        &__copy{
            transition-delay: 0.25s;
        }

        @at-root .-is-loaded.-is-loadend .mv{
            &__anchorlink,
            &__copy,
            &__img {
                opacity: 1;
                transform: translateY(00px);
            }
        }
    }



    /////////////////
    
    // below mv
    
    /////////////////

    .belowcontent{
        position: relative;
        z-index: 1;
        // background-color: #ffffff;
    }



    /////////////////
    
    // greeting
    
    /////////////////
    .section--greeting{
        color: #ffffff;
        text-align: center;
        background-color: rgba( $blue, 0.9 );

        .section{
                

            &__index__text{
                background-image: url(../img/top-greeting-index.svg);

                @include mq( sp ){
                    padding-top: 2em;
                    background-image: url(../img/_sp/top-greeting-index.svg);
                }
            }


            &__content{
                display: inline-block;
                p{
                    text-align: left;
                    line-height: 2;
                }
            }


            &__footer{
                margin-top: $space_s;

                @include mq( tab ){
                    margin-top: $space_s_sp;
                }                

                &.js-effect .button{
                    opacity: 0;
                    transform: translateY( 20px );
                    transition: easeOutBack(all,1s);
                }
                &.js-effect.-on .button{
                    opacity: 1;
                    transform: translateY( 0px );
                }    


                .button{
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }
    }



    /////////////////
    
    // manifest
    
    /////////////////
    .section--manifest{
        .section{
            &__index__text{
                background-image: url(../img/top-manifest-index.svg);

                @include mq( sp ){
                    padding-top: 3em;
                    background-image: url(../img/_sp/top-manifest-index.svg);
                }
            }

            &__index__description {
                    margin-top: 30px;
            }
        }
    }    



    /////////////////
    
    // attnetion
    
    /////////////////
    .section--attention{
        line-height: 1;
        background-color: $paleblue;

        // &.js-effect .attention__tsuchiya{
        //     &,
        //     &__word
        //     {
        //         opacity: 0;
        //         transform: translateY( 20px );
        //         transition: easeOutBack(all,1s);
        //         transition-delay: 0.15s;
        //     }
        //     &__word{
        //         transition-delay: 0.30s;
        //     }
        // }
        // &.js-effect.-on  .attention__tsuchiya{
        //     &,
        //     &__word{
        //         opacity: 1;
        //         transform: translateY( 0px );
        //     }
        // }	        
		@include buttonEffectAsset();


        .button{
            margin-right: auto;
            margin-left: auto;
        }

        .attention{
            max-width: 1000px;
            margin-right: auto;
            margin-left: auto;
            padding-top: 30px;
            padding-bottom: 30px;
            position: relative;

            @include mq( sp ){
                padding-bottom: 120px;
            }
        }


        .attention__tsuchiya{
            position: absolute;
            left: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            @include mq( sp ){
                width: 150px;
                right: 0;
                left: 0;
                margin-right: auto;
                margin-left: auto;
                text-align: center;
                flex-direction: column-reverse;
            }            

            &__word{
                line-height: 1.45;
                margin-left: 1em;
                font-weight: bold;
                font-size: $fontsize_s;
            }

            img{
                @include mq( tab ){
                    width: 45px;
                }                
            }
        }
    }    

}


