@charset "UTF-8";
//////////////////////////////////////////

//utilitie classes

//include by style.scss

//////////////////////////////////////////


//////////////////

// block level

//////////////////

%inner{
	max-width: 1000px;
	// margin-left: auto;
	// margin-right: auto;
	box-sizing: border-box;
}

.wrap{
	width: 90%;
	// width: $outerWidth;
	margin-left: auto;
	margin-right: auto;	
	// box-sizing: border-box;
	
	
	@include mq( tab ){
		max-width: percentage( 670 / 750 );
	}	
}

.contain{
	@extend %inner;
}

.inner{
	@extend %inner;
	@include mq( tab ){
		max-width: percentage( 670 / 750 );
	}	
}


.clearfix{
	@include clearfix();
}



//////////////////

// responsive

//////////////////


////////スマホで非表示

.-only-sp{
	display: none;
}
@include mq( sp ){
	.-no-sp{
		display: none;	
	}
	.-only-sp{
		display: inherit;
	}
} //max 580

.-only-tab{
	display: none;
}
@include mq( tab ){
	.-no-tab{
		display: none;	
	}
	.-only-tab{
		display: inherit;
	}
} //max 780






//////////////////

// status

//////////////////

.-notActive{
	pointer-events:none;
}

.active{
	pointer-events: normal;
}

.js-effect{
	transition: transition( );
}



//////////////////

// icon

//////////////////

.icon-twitter{
	@include iconfont(
		$content: '\f099',
		$icon-margin-right: 0, 
		$top : 0, 
		$font-size: 22px
	 );
}
.icon-pinterest{
	@include iconfont(
		$content: '\f0d2',
		$icon-margin-right: 0, 			
		$top : 0, 
		$font-size: 22px
	 );
}
.icon-instagram{
	@include iconfont(
		$content: '\f16d',
		$icon-margin-right: 0, 			
		$top : 0, 
		$font-size: 22px
	 );
}

.icon-mouse{

	width: 17px;
	height: 27px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	display: block;
	border: solid 1px #fff;
	border-radius: 5px;
	
	&:after{
		content: " ";
		display: block;
		width: 3px;
		height: 3px;
		margin-right: auto;
		margin-left: auto;
		position: absolute;
		top: 5px;
		right: 0;
		left: 0;
		animation: mouseScroll 2s ease-in-out 0.8s infinite normal forwards;
		border-radius: 100%;
		background-color: #fff;
		
	}

}