// @charset "UTF-8";

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:500,700");

@import "colors.scss";
@import "variables.scss";
@import "fonts.scss";
@import "mixins.scss";

@import "animations.scss";
@import "settings.scss";
@import "utilities.scss";
@import "typography.scss";
@import "components.scss";
@import "modules.scss";
@import "layouts.scss";

@import "_style-top.scss";
// @import "_style-thanks.scss";
// @import "_style-top-form.scss";
