<div class="loadingAnim">
    <div class="loadingAnim__copy">
        <div class="loadingAnim__copy__maskElement">
            <span class="mask">
                <span class="mask__element">
                    <img src="<%- $path %>../img/logo.svg" width="220" alt="">
                </span>
            </span>
        </div>
    </div>
</div>