<header class="subpageMv">
    <div class="wrap">
        <p class="subpageMv__copy">
            私が変える。<span class="subpageMv__copy__attention">あなたと、</span>変える。
        </p>
        <h1 class="subpageMv__index">
            <span class="subpageMv__index__label">土屋和樹の</span>
            <span class="subpageMv__index__title"><%- $title %></span>
        </h1>
    </div>
</header>