<header class="siteHeader">
	<div class="wrap">
		<h1 class="siteHeader__logo">
			<a href="/"><img src="<%- $path %>../img/common-logo-start.svg" width="120" alt="東京都北区 自民党 土屋和樹"></a>
		</h1>
		<nav class="siteHeader__nav">
			<% include( 'nav.ejs'); %>
		</nav>
	</div>
</header>

