<header class="siteHeader">
	<div class="wrap">
		<<% if($active=='top'){ %>h1<% }else{ %>div<%}%> class="siteHeader__logo">
			<a href="/"><img src="<%- $path %>../img/common-logo-start.svg" width="200" alt="東京都北区 自民党 土屋和樹"></a>
		</<% if($active=='top' ){ %>h1<% }else{ %>div<%}%>>
		<nav class="siteHeader__nav">
			<%- include( 'nav.ejs'); %>
		</nav>
	</div>
</header>

