<nav class="siteNav -is-scrollify-<%- scrollify %>">
	<ul>
		<li><a data-index="1" href="/#concept">CONCEPT</a></li>
		<li><a data-index="2" href="/#vision">VISION</a></li>
		<li><a data-index="3" href="/#services">SERVICES</a></li>
		<li><a data-index="4" href="/#features">FEATURES</a></li>
		<li class="siteNav__defaultLink"><a href="about.html">ABOUT</a></li>
	</ul>
</nav>