
<nav class="siteNav">
	<ul>
		<li><a href="/#introduction">私の決意</a></li>
		<li><a href="/manifest.html">政策</a></li>
		<li><a href="/gallery.html">資料</a></li>
		<li><a href="#member">友の会</a></li>
		<li class="comingsoon"><a target="_blank">プロモーションビデオ</a><span class="comingsoon__text">ただいま製作中<i></i>撮影快調！</span></li>
	</ul>
</nav>
