
<nav class="siteNav">
	<ul>
		<li><a href="/#introduction">私の決意</a></li>
		<li><a href="/policy.html">政策</a></li>
		<li><a href="/gallery.html">資料</a></li>
		<li><a href="#member">友の会</a></li>
    <li><a href="https://youtu.be/ZIZoWKro-Og" target="_blank">プロモーションビデオ</a></li>
	</ul>
</nav>
