<% 
	include( '_include/_function.ejs' );
	$path = './';
	$src = $path + '../img/';
	$active = 'top';
%>
<!DOCTYPE html>
<html>
<%- include( '_include/head.ejs' ); %>
<body class="top">
	<%# include( '_include/_loadingAnim.ejs' ); %>
	<%- include( '_include/header.ejs' ); %>
	<main>

	</main>
	<%- include( '_include/footer.ejs' ); %>
</body>
</html>